*{margin: 0;
padding: 0;}

.main{
    background-color: rebeccapurple;
}
.container{
    /* background-color: red; */
    height: 400px;
    width: 600px;
    border: 2px solid;
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: local;
    

}
.verticalbox{
    /* height: 30vh; */
    width: 30%;
    border: 2px solid red;
    background: aqua url(image.jpg) no-repeat fixed left;
}
